<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="recurly" type="Recurly.Configuration.RecurlySection,Recurly"/>
  </configSections>
  <recurly>
    <apps>
      <add name="instance1" apiKey="46194cd9357a4650beb61eb40ec5042f" privateKey="" subdomain="vocus-test"/>
      <add name="instance2" apiKey="16c71d6723729d3079162241bb82375b" privateKey="16c71f3e022459c70b8bf14a88a48db0" subdomain="vocus-fb-apps"/>
    </apps>
  </recurly>
</configuration>