<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="recurly" type="Recurly.Configuration.RecurlySection,Recurly"/>
  </configSections>
  <recurly>
    <apps>
      <add name="instance1" apikey="apiKey1" privatekey="" subdomain="subdomain1"/>
      <add name="instance2" apikey="apiKey2" privatekey="" subdomain="subdomain2"/>
    </apps>
  </recurly>
</configuration>