<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="recurly" type="Recurly.Configuration.RecurlySection,Recurly"/>
  </configSections>
  <recurly>
    <apps>
      <add name="haro-test" apiKey="46194cd9357a4650beb61eb40ec5042f" privateKey="" subdomain="vocus-test"/>
      <add name="facebook" apiKey="crap" privateKey="crap" subdomain="vocus-fb"/>
    </apps>
  </recurly>
</configuration>