[bumpversion]
current_version = 1.17.25
parse = (?P<major>\d+)
	\.(?P<minor>\d+)
	\.(?P<patch>\d+)
serialize = 
	{major}.{minor}.{patch}

[bumpversion:file:Library/Properties/AssemblyInfo.cs]

[bumpversion:file:dist/recurly.nuspec]

[bumpversion:file:Library/Recurly.csproj]
