<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="recurly" type="Recurly.Configuration.Section, Recurly"/>
  </configSections>

  <recurly apiKey="6c9c01a8ec9c4ac080856a7d6b4008da"
           subdomain="veinteractive"
           pageSize="50" />

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>